<footer>
  <p>Made by
    <a target="_blank" href="https://github.com/kanishths/">{{name}}</a>
    &copy;2021. All Rights Reserved. Made Using
    <a target="_blank" href="https://weatherstack.com/">Weather Stack</a>
    &
    <a target="_blank" href="https://www.mapbox.com/">Mapbox</a>
  </p>
</footer>